<h1>Countries</h1>
<br />

<!-- Added navbar to switch between list view shown in video and new edit view -->
<div class="navbar">
    <ul class="nav navbar-nav">
        <li class="toolbar-item">
            <a (click)="editViewEnabled=false" [class.active]="!editViewEnabled">
                <span class="glyphicon glyphicon-align-justify"></span> List View
            </a>
        </li>
        <li class="toolbar-item">
            <a (click)="editViewEnabled=true" [class.active]="editViewEnabled">
                <span class="glyphicon glyphicon-pencil"></span> Edit View
            </a>
        </li>
    </ul>
</div>

<ul [hidden]="editViewEnabled">
    <li *ngFor="let country of countries">
        {{ country.name}}
    </li>
</ul>

<!-- Added editable list to demonstrate doing an HTTP PUT -->
<div [hidden]="!editViewEnabled">
    <div class="container" *ngFor="let country of countrys">
        <div class="row" [hidden]="editId===country.id">
            <div class="col-md-4">
            {{ country.name  }}
            </div>
            <div class="col-md-8">
                <span class="btn btn-success pull-left" 
                    (click)="editId=country.id">Edit</span>
            </div>
        </div>
        <div [hidden]="editId!==country.id">
            Name: <input [(ngModel)]="country.name" />&nbsp;
            <span class="btn btn-success" (click)="save(country)">Save</span>&nbsp;
            <span class="btn btn-default" (click)="editId=0">Cancel</span>
        </div>
        <br />
    </div>

    <span class="alert alert-danger" [hidden]="!errorMessage">{{ errorMessage }}</span>
</div>